server:
  port: 8081

spring:
  application:
    name: gateway-service

  cloud:
    consul:
      discovery:
        health-check-path: /actuator/health
        health-check-url: http://${SERVICE_HOST}:${server.port}/actuator/health
        health-check-interval: 10s
        prefer-ip-address: true

    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  tracing:
    sampling:
      probability: 1.0
    enabled: true

graylog:
  host: ${GRAYLOG_HOST:localhost}
  port: ${GRAYLOG_PORT:12201}

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"
