<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="gateway-service"/>
    <springProperty scope="context" name="graylogHost" source="graylog.host" defaultValue="${GRAYLOG_HOST:-localhost}"/>
    <springProperty scope="context" name="graylogPort" source="graylog.port" defaultValue="${GRAYLOG_PORT:-12201}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [${applicationName:- },%X{traceId:-},%X{spanId:-}] %c{1} - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${graylogHost}</graylogHost>
        <graylogPort>${graylogPort}</graylogPort>
        <maxChunkSize>508</maxChunkSize>
        <useCompression>true</useCompression>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <staticField>service_name:${applicationName}</staticField>
            <staticField>environment:production</staticField>
        </encoder>
    </appender>

    <appender name="ASYNC_GELF" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="GELF"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ASYNC_GELF"/>
    </root>

    <logger name="com.otakurating.gateway" level="DEBUG"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.cloud.gateway" level="DEBUG"/>
    <logger name="reactor.netty" level="INFO"/>

    <logger name="io.micrometer.tracing" level="DEBUG"/>
    <logger name="io.opentelemetry" level="INFO"/>

</configuration>